// Base & Utilities
@import './utilities/reset';
@import './utilities/variables';

// Component's styles
@import './components/App';
@import './components/Game';
@import './components/UpperSection';

html {
  font-size: 10px;
}

body {
  background-color: $main-color;
  color: $font-color;
  font-family: map-get($map: $fonts, $key: main);
}