@import url('https://fonts.googleapis.com/css?family=Comfortaa|Rubik+Mono+One&display=swap');

$fonts: (main: 'Comfortaa', header: 'Rubik Mono One');

$main-color: #155e1f;
$second-color: #f5f5f5;
$font-color: #212121;