@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700|Rubik+Mono+One&display=swap');

$fonts: (main: 'Comfortaa', header: 'Rubik Mono One');

$main-color: #155e1f;
$second-color: #f0e6da;
$font-color: #212121;
$blocked-color: #b81c1c;