.help {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0 8vw 15px;
    &__header {
        font-size: 2rem;
        margin: 10px 0;
        text-transform: uppercase;
    }
    &__header--small {
        font-size: 1.8rem;
    }
    &__text {
        font-size: 1.3rem;
        padding: 7px 0;
        line-height: 1.8rem;
    }
}